@font-face {
	font-family: 'Dabblet';
	src: url(img/dabblet.ttf);
}

@keyframes bugfix { from { padding: 0; } to { padding: 0; } }

/**
 * Variables
 */
header,
.popup,
.dropdown {
	background: hsla(200, 10%, 20%, .9) url(img/noise.png);	
	color: white;
	text-shadow: 0 -1px 1px black, 0 -1px 2px black;
}

.popup,
.dropdown {
	border: 1px solid rgba(0,0,0,.4);
	border-radius: .5em;
	box-shadow: 0 1px rgba(255,255,255,.3) inset,
				.2em .2em .6em black;
}

body:not([data-view="behind"]) > .editor.page,
.popup > .content {
	background: #f5f2f0 url(/img/noise.png);
	color: black;
	text-shadow: 0 1px white;
	box-shadow: 0 .1em .5em rgba(0,0,0,.8) inset;
}

.popup > .close,
menu > .command:not([data-disabled]) {
	transition: .5s box-shadow;
}

.popup > .close:hover,
menu > .command:not([data-disabled]):hover {
	background: rgba(0,0,0,.3);
	box-shadow: .05em .05em .25em black inset;
}

.popup > .close:active,
menu > .command:not([data-disabled]):active {
	background: rgba(0,0,0,.4);
	box-shadow: .15em .15em .15em black inset;
}

/**
 * Styles
 */

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font: 100%/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

fieldset {
	padding: .5em;
	border: 0;
	margin-top: .5em;
}

kbd {
	display: inline-block;
	min-width: 1em;
	padding: .2em;
	border: 1px solid #ddd;
	border-radius: .3em;
	background: white;
	text-align: center;
	line-height: 1;
}

kbd[title] {
	cursor: help;
}

[aria-hidden="true"] {
	display: none !important;
}

@keyframes loader {
	from {
		background-position: 0 0;
	}
	
	to {
		background-position: -700px 0;
	}
}

#loader {
	display: none;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	width: 100px;
	padding-top: 100px;
	margin-top: -50px;
	margin-left: -50px;
	background: url(/img/loader.png) no-repeat left top;
	color: rgba(0,0,0,.5);
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px white;
	
	animation: 1s loader infinite steps(7);
}

body[data-loading] > #loader {
	display: block;
}

.page {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	outline: none;
	resize: none;
	background: transparent;
}

.editor.page {
	display: none;
	overflow: hidden;
	font: 150%/1.5 Monaco, Consolas, monospace;
}

body:not([data-view="behind"]) > .editor.page {
	box-shadow: 0 .3em 1em -.4em black inset;
}

body[data-view="behind"] .editor.page,
body[data-view="behind"] .editor.page > pre,
body[data-view="behind"] .editor.page > pre > span.token {
	text-shadow: 0 .1em white, 0 -.1em white, .1em 0 white, -.1em 0 white,
				 .1em .1em white, -.1em .1em white, .1em -.1em white, -.1em -.1em white;
	text-shadow: 0 0 0 .1em white;
}

	.editor.page > pre {
		padding: 2em 1.5em 1em;
		box-sizing: border-box;
		background: transparent;
		font: inherit;
		height: 100%;
		overflow: auto;
		tab-size: 4;
		word-wrap: normal;
	}

#result {
	z-index: 0;
}

body[data-page="css"] #css-container,
body[data-page="html"] #html-container {
	display: block;
}

body[data-view="split-vertical"]:not([data-page="result"]) > .page {
	width: 50%;
	font-size: 100%;
}

body[data-view="split-vertical"]:not([data-page="result"]) > #result {
	left: 50%;
}

body[data-view="split"]:not([data-page="result"]) > .page,
body:not([data-view]):not([data-page="result"]) > .page {
	height: 50%;
	font-size: 120%;
}

body[data-view="split"]:not([data-page="result"]) > .editor.page,
body:not([data-view]):not([data-page="result"]) > .editor.page {
	top: 50%;
}

body[data-view="separate"]:not([data-page="result"]) #result {
	height: 10px;
	top: -10px;
}

header {
	position: absolute;
	top: -2.85em;
	right: 0;
	left: 0;
	z-index: 10;
	padding: .4em .5em 0;
	border-bottom: 10px solid black;
	color: white;
	line-height: 1.1;
	font-weight: bold;
	transition: .5s 1s;
}

header:hover,
header:active,
header.focus {
	top: 0;
	transition-delay: 0;
}

	header > h1 {
		float: left;
		height: 1.3em;
		margin-right: .1em;
		font: 900 190%/1.45 Dabblet, sans-serif;
		text-shadow: .05em .05em .1em black;
		-webkit-transform: translateZ(0); /* fix for chopped letters */
	}
	
	header > .with-dropdown {
		float: left;
	}

	.tabs {
		float: left;
		margin-right: 2px;
		white-space: nowrap;
		-webkit-font-smoothing: antialiased;
	}
	
	.controls-group {
		float: right;
		min-width: 16.4em;
	}

	header .button,
	header button,
	.tabs > label {
		padding: .45em .6em;
		border: 0;
		border-radius: .3em;
		background: inherit;
		color: inherit;
		font: inherit;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		text-shadow: inherit;
	}
	
	header .button,
	header button {
		float: left;
		border: 1px solid rgba(0,0,0,.4);
		margin: 0 .2em;
		white-space: nowrap;
		background-image: url(img/noise.png);
		box-shadow: rgba(255, 255, 255, .4) 0 1px 0 inset, 
					rgba(255, 255, 255, .3) 0 25px 30px -12px inset, 
					rgba(0, 0, 0, .6) 0 1px 2px;
		text-shadow: 0 -1px 1px black, 0 -1px 2px black;
	}
	
	header button.with-symbol,
	header .button.with-symbol {
		font-family: Dabblet, sans-serif;
	}
	
	body[data-unsaved] button[title="Save"] {
		text-shadow: 0 0 .2em #6cf, 0 0 .4em #6cf;
	}
	
	header > .with-dropdown > button:after,
	header > .with-dropdown > .button:after {
		content: ' ▾';
	}
	
	header .button:active,
	header button:active,
	input:checked + label.button {
		box-shadow: 0 2px 6px black inset;
	}
	
	input:checked + label.button {
		background-color: rgba(0,0,0,.3);
	}
	
	header input {
		position: absolute;
		clip: rect(0,0,0,0);
	}
	
	#currentuser {
		max-width: 8em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	#currentuser:not(:hover) {
		background-color: transparent;
	}
	
		.user > img {
			max-height: 1.4em;
			margin: -.2em .3em -.2em 0;
			vertical-align:bottom;
		}
		
		#currentuser > img {
			margin-left: -.3em;
		}
		
	a.button[href="#help"] {
		float: right;
		background-color: transparent;
	}
	
	@keyframes flip {
		from {
			transform: perspective(600px) rotate3d(1,0,0,180deg);
		}
		
		to {
			transform: perspective(600px) rotate3d(1,0,0,0deg);
		}
	}
	
	.tabs > label {
		position: relative;
		display: inline-block;
		border-radius: .3em .3em 0 0;
		background: rgba(0,0,0,.4);
		font-size: 120%;
		line-height: 1.25;
		transform-origin: top;
		box-shadow: .05em .1em .25em rgba(0,0,0,.7) inset;
	}
	
	.tabs > input:checked + label {
		background: black;
		top: 2.5em;
		border-radius: 0 0 .3em .3em;
		animation: 1s flip;
	}
	
	input:focus + label[for] {
		outline: auto;
	}
	
	header .button:hover,
	header .button:active,
	header button:hover,
	header button:active,
	.tabs > label:hover,
	.tabs > label:active {
		background-color: black;
	}
	
	.dropdown {
		display: none;
		position: absolute;
		z-index: 2;
		min-width: 12em;
		max-width: 400px;
		padding: .3em;
		margin: 2.2em 0 0 -1em;
		font-family: sans-serif;
		text-align: left;
	}
	
	.with-dropdown {
		padding-bottom: 3px;	
	}
	
	.with-dropdown:hover > .dropdown,
	.with-dropdown:focus > .dropdown,
	.with-dropdown:active > .dropdown,
	.dropdown:hover,
	.dropdown:active,
	.dropdown.focus {
		display: block;
	}
	
		#view label {
			width: 10em;
			margin: .15em;
			overflow: hidden;
			text-align: left;
			line-height: 25px;
		}
		
		#view label:before {
			content: '';
			float: left;
			width: 25px;
			height: 25px;
			margin-right: 10px;
			background: url(img/settings.png);
		}
		
		#view label[for="view-split"]:before {
			background-position: 0 -25px;
		}
		
		#view label[for="view-split-vertical"]:before {
			background-position: 0 -50px;
		}
		
		#view label[for="view-separate"]:before {
			background-position: 0 -75px;
		}
	
		menu > .command {
			display: block;
			padding: .4em;
			border-radius: .3em;
			cursor: pointer;
		}
		
		menu > .command[data-disabled] {
			opacity: .5;
			cursor: not-allowed;
		}
			
			menu > .command:before {
				content: '';
				display: inline-block;
				width: 1.2em;
			}
			
			menu > .command[data-keyboard]:after {
				content: attr(data-keyboard);
				float: right;
				opacity: .6;
			}
			
			menu > input:checked + label.command:before {
				content: '✔';
				color: hsla(0,0%,100%,.5);
			}
		
		menu > hr {
			height: 2px;
			border: 0;
			margin: .1em 0;
			background: rgba(255,255,255,.5);
			background: linear-gradient(left, transparent, black 50%, transparent) top,
						linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.6) 50%, rgba(255,255,255,0)) bottom;
			background-repeat: repeat-x;
			background-size: 100% 1px;
		}
		
.popup {
	display: none;
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 50%;
	z-index: 20;
	width: 60%;
	padding: .6em .6em 5.2em;
	box-sizing: border-box;
	margin-left: -30%;
}

.popup:target {
	display: block;
}

	.popup > h1 {
		color: white;
		font-size: 160%;
	}
	
	.popup > .close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 1.2em;
		font-size: 150%;
		line-height: 1.2;
		font-weight: bold;
		text-align: center;
		border-radius: 50%;
	}
	
	.popup > .content {
		height: 100%;
		padding: 1em;
		border: inherit;
		overflow: auto;
		background-clip: padding-box;
		border-radius: 3px;
	}
	
		.popup > .content h2 {
			margin: 1em 0 .3em;
		}
		
		.popup > .content p {
			margin: 1em 0;
		}
		
			.popup > .content a {
				font-weight: bold;
			}

	.popup table {
		border-spacing: 0;
	}
	
		.popup thead {
			background: rgba(0,0,0,.1);
		}
		
			.popup td {
				border-bottom: 1px solid rgba(0,0,0,.3);	
				padding: .3em .5em;
				vertical-align: top;
			}
			
			.popup tbody td:first-child {
				width: 10em;
			}
			
			.popup tbody td:first-child > kbd {
				font-size: 120%;
			}
			
			.popup tbody td:first-child > .note {
				font-size: 65%;
			}
		
/**
 * Code hightlighting 
 */
.token {
	/* See issue #3 */
	padding: .15em 0;
}

.comment {
	color: slategray;
}

.property,
.tag,
.popup > .content a {
	color: #905;
}

.selector,
.attr-name,
.popup > .content a:hover {
	color: #690;
}

.atrule,
.attr-value,
.popup > .content a:active {
	color: #07a;
}

.important {
	color: #e90;
	font-weight: bold;
}

.color,
.abslength,
.easing,
.time,
.angle,
.fontfamily,
.gradient {
	text-shadow: 0 1px white, 0 0 .2em hsla(24, 100%, 50%, .5);
	cursor: help;
}

.token[data-active] {
	text-shadow: 0 1px white, 0 0 .2em hsla(24, 100%, 50%, .8);
}

.punctuation {
	color: #999;
}


/**
 * Cute little value previewers
 */
.previewer {
	display: none;
	position: absolute;
	bottom: 120%; left: 120%; /* off the page */
	margin-bottom: 10px;
	border-radius: 8px;
	box-shadow: 1px 1px 8px rgba(0,0,0,.7);
}

#color,
#gradient {
	background: linear-gradient(45deg, #bbb 25%,  transparent 25%, transparent 75%, #bbb 75%, #bbb) 5px 5px, 
		linear-gradient(45deg, #bbb 25%,  #eee 25%,  #eee 75%, #bbb 75%, #bbb) 15px 15px;
	background-size:20px 20px;
}

#color {
	width: 60px;
	height: 60px;
	margin-left: -30px;
}

#gradient {
	width: 180px;
	height: 100px;
	margin-left: -100px;
}

#abslength {
	max-width: 100%;
	height: 20px;
	border: 1px solid white;
	border-radius: 0;
	transition: .3s;
	transition-property:width, margin-left;
}

#time,
#angle {
	width: 74px;
	height: 74px;
	margin-left: -37px;
	background: linear-gradient(right, hsla(24, 20%, 95%, .4), hsl(24, 20%, 95%) 95%);
	border-radius: 37px;
}

#fontfamily {
	padding-top: .2em;
	width: 9em;
	margin-left: -4.5em;
	font-size: 140%;
	line-height: 2;
	text-align: center;
	background: linear-gradient(hsla(24, 20%, 95%, .6), hsl(24, 20%, 95%));
	border-radius: .3em;
}

#easing {
	width: 100px;
	height: 100px;
	padding: 5px;
	margin-left: -50px;
}
	
	/* pointer */
	.previewer:before {
		content: '';
		position: absolute;
		bottom: -6px;
		left: 50%;
		width: 12px;
		height: 12px;
		border: inherit;
		border-top-width:0;
		border-left-width:0;
		margin-left: -6px;
		background: white;
		transform: rotate(45deg);
		box-shadow: inherit;
	}
	
	#abslength:before {
		bottom: -7px;
		background: url(img/noise.png),
					linear-gradient(-45deg, hsla(200, 10%, 20%, 0) 47%, hsl(200, 10%, 20%) 48%);
	}
	
	#abslength[data-size="small"]:before {
		width: 6px;
		height: 6px;
		bottom: -3px;
		margin-left: -3px;
	}
	
	#abslength[data-size="tiny"]:before {
		transform: none;
		width: 0;
		margin-left: 0;
	}
	
	#time:before,
	#angle:before {
		bottom: -4px;
	}
	
	.previewer:after,
	#gradient > div {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		border: 5px solid white;
		border-radius: inherit;
		box-shadow: 1px 1px 5px rgba(0,0,0,.5) inset;
	}
	
	#color:after {
		background-color: inherit;
	}
	
	#abslength:after {
		border: 0;
		background: 
			repeating-linear-gradient(left, transparent, transparent 19px, rgba(255,255,255,.6) 19px, rgba(255,255,255,.6) 20px) left top no-repeat,
			repeating-linear-gradient(left, transparent, transparent 4px, rgba(255,255,255,.4) 4px, rgba(255,255,255,.4) 5px) left top no-repeat,
			url(img/noise.png), linear-gradient(hsla(200, 10%, 20%, .8), hsl(200, 10%, 20%));
		background-size: 100% 10px, 100% 5px, auto, auto;
		box-shadow: none;
	}
	
	#time:after,
	#angle:after {
		background: url(img/noise.png);
		z-index: 2;
	}
	
	#fontfamily:after {
		background: url(img/noise.png), linear-gradient(bottom, hsl(24, 20%, 95%), hsla(24, 20%, 95%,0) .5em);
	}
	
	#gradient:after {
		content: none;
	}
	
	#easing:after {
		z-index: 2;
	}
	
	.previewer > svg {
		display: block;
		z-index: 1;
		position: relative;
	}
	
	#angle > svg,
	#time > svg {
		margin: 5px;
		width: 64px;
		height: 64px;
		border-radius: 32px;
		background: inherit;
		transform: rotate(-90deg);
		-webkit-transform: translateZ(0) rotate(-90deg);
	}
	
	.previewer[data-negative] > svg {
		transform:  scaleX(-1) rotate(-90deg);
		-webkit-transform:  translateZ(0) scaleX(-1) rotate(-90deg);
	}
	
	#easing > svg {
		background: url(img/noise.png), linear-gradient(hsla(200, 10%, 20%, .8), hsl(200, 10%, 20%));
	}
		
		#time circle,
		#angle circle {
			stroke: hsl(200, 10%, 20%);
			stroke-opacity: .9;
			fill: transparent;
			stroke-width: 31.8;
		}
		
		#easing circle {
			stroke: white;
			fill: hsl(200, 10%, 20%);
		}
		
		#easing path {
			 fill: none;
			 stroke: white;
			 stroke-width: 4;
			 stroke-linecap: round;
		}
		
		#easing line {
			stroke: white;
			stroke-opacity:.5;
			stroke-width: 2;
			marker: url(#marker);
		}

/**
 * Responsive shit
 */
@media (max-width: 400px) {
	html {
		font-size: 90%;
	}
}

@media (max-width: 620px) {
	header > .with-dropdown button:after {
		content: '';
		content: none;
	}
	
	.dropdown {
		max-width: 200px;
		margin-left: -10em;
	}
	
	#currentuser {
		max-width: 3em;
	}
}

@media (max-width: 580px) {
	header {
		top: -5.4em;
	}
	
	.controls-group {
		margin-top: .2em;
	}
	
	body[data-view="behind"] .editor.page,
	body[data-view="separate"] .editor.page {
		font-size: 120%;
	}
	
	a.button[href="#help"] {
	
	}
	
	.popup {
		width: 290px;
		padding: .5em .5em 5em;
		margin-left: -145px;
		top: 2%;
		bottom: 2%;
	}
}

@media (min-width: 1000px) {
	.popup {
		width: 800px;
		margin-left: -400px;
	}
	
		.popup > .content > div {
			column-count: 2;
			column-gap: 2em;
			column-rule: 3px dotted slategray;
			column-fill: balance;
		}
}