@font-face {
	font-family: 'Dabblet';
	src: url(img/dabblet.ttf);
}

@keyframes bugfix { from { padding: 0; } to { padding: 0; } }

/**
 * Variables
 */
header,
.popup,
.dropdown {
	background: hsla(200, 10%, 20%, .9) url(img/noise.png);	
	color: white;
	text-shadow: 0 -1px 1px black, 0 -1px 2px black;
}

.popup,
.dropdown {
	border: 1px solid rgba(0,0,0,.4);
	border-radius: .5em;
	box-shadow: 0 1px rgba(255,255,255,.3) inset,
				.2em .2em .6em black;
}

body:not([data-view="behind"]) > .editor.page,
.popup > .content {
	background: hsl(24, 20%, 95%) url(img/noise.png);
	color: black;
	text-shadow: 0 1px white;
	box-shadow: 0 .1em .5em rgba(0,0,0,.8) inset;
}

.popup > .close,
menu > .command:not([data-disabled]) {
	transition: .5s box-shadow;
}

.popup > .close:hover,
menu > .command:not([data-disabled]):hover {
	background: rgba(0,0,0,.3);
	box-shadow: .05em .05em .25em black inset;
}

.popup > .close:active,
menu > .command:not([data-disabled]):active {
	background: rgba(0,0,0,.4);
	box-shadow: .15em .15em .15em black inset;
}

#easing > svg,
#fontfamily,
#entity {
	background: url(img/noise.png), linear-gradient(hsla(200, 10%, 20%, .8), hsl(200, 10%, 20%));
}

/**
 * Styles
 */

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font: 100%/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

body {
	position: relative;
	height: 100%;
	border-top: 10px solid transparent;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

fieldset {
	padding: .5em;
	border: 0;
	margin-top: .5em;
}

[aria-hidden="true"] {
	display: none !important;
}

input:focus + label[for],
label.focus {
	outline: auto;
	outline: 2px auto -webkit-focus-ring-color;
}

button, .button {
	padding: .45em .6em;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: .3em;
	white-space: nowrap;
	text-decoration: none;
	background-image: url(img/noise.png);
	background-color: inherit;
	color: inherit;
	font: inherit;
	box-shadow: rgba(255, 255, 255, .4) 0 1px 0 inset, 
				rgba(255, 255, 255, .3) 0 25px 30px -12px inset, 
				rgba(0, 0, 0, .6) 0 1px 2px;
	text-shadow: 0 -1px 1px black, 0 -1px 2px black;
	cursor: pointer;
}

button.danger,
.button.danger {
	background-color: rgba(196, 0, 0, .8);
	text-shadow: 0 -1px 1px rgba(0,0,0,.5), 0 -1px 2px rgba(0,0,0,.5);
}

button.danger:hover,
.button.danger:hover {
	background-color: red;
}

input[type="checkbox"] {
	appearance: none;
	display: inline-block;
	width: .9rem;
	height: .9rem;
	padding-left: .1rem;
	border: 0;
	box-sizing: border-box;
	margin: 0;
	background: rgba(0,0,0,.2);
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	outline: none;
	border-radius: 2px;
	box-shadow: 1px 1px 5px black inset;
	text-align: right;
	overflow: visible;
	color: transparent;
	font-size: 1.2rem;
	line-height: .6rem;
}

input[type="checkbox"]:checked {
	color: white;
	text-shadow: inherit;
}

input[type="checkbox"]::after {
	content: '✓';
}

.amp {
	font: italic 160%/.5 Baskerville, 'Palatino Linotype', 'Goudy Old Style', Constantia, Palatino, serif;
	vertical-align: -.1em;
	opacity: .7;
}

@keyframes loader {
	from {
		background-position: 0 0;
	}
	
	to {
		background-position: -700px 0;
	}
}

#loader {
	display: none;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	width: 100px;
	padding-top: 100px;
	margin-top: -50px;
	margin-left: -50px;
	background: url(img/loader.png) no-repeat left top;
	color: rgba(0,0,0,.5);
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px white;
	
	animation: 1s loader infinite steps(7);
}

body[data-loading] > #loader {
	display: block;
}

.page {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	outline: none;
	resize: none;
	background: transparent;
}
	
.editor.page {
	display: none;
	overflow: hidden;
	box-sizing: border-box;
	background: transparent;
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
	background: url(img/noise.png), 
				linear-gradient(left, hsl(24,20%,91%) 1px, transparent 1px) 2.8em 0 no-repeat;
	background-color: hsl(24, 20%, 95%);
	font: 100%/1.5 Monaco, Consolas, Inconsolata, 'Deja Vu Sans Mono', 'Droid Sans Mono', 'Andale Mono', 'Lucida Console', monospace;
}

body:not([data-view="behind"]) > .editor.page {
	box-shadow: 0 .3em 1em -.4em black inset;
}

body[data-view="behind"] .editor.page,
body[data-view="behind"] .editor.page > pre,
body[data-view="behind"] .editor.page > pre > span.token {
	text-shadow: 0 .1em white, 0 -.1em white, .1em 0 white, -.1em 0 white,
				 .1em .1em white, -.1em .1em white, .1em -.1em white, -.1em -.1em white;
	text-shadow: 0 0 0 .1em white;
}

	.editor.page > pre {
		position: relative;
		padding: 1em 1.5em 1em 3em;
		overflow: visible;
		word-wrap: normal;
		font: inherit;
		height: 100%;
		overflow: auto;
		tab-size: 4;
		word-wrap: normal;
		outline: none;
	}

#result {
	z-index: 0;
}

body[data-page="css"] #css-container,
body[data-page="html"] #html-container {
	display: block;
}

body[data-view="split-vertical"]:not([data-page="result"]) > .page {
	width: 50%;
}

body[data-view="split-vertical"]:not([data-page="result"]) > #result {
	left: 50%;
}

body[data-view="split"]:not([data-page="result"]) > .page,
body:not([data-view]):not([data-page="result"]) > .page {
	height: 50%;
}

body[data-view="split"]:not([data-page="result"]) > .editor.page,
body:not([data-view]):not([data-page="result"]) > .editor.page {
	top: 50%;
}

body[data-view="separate"]:not([data-page="result"]) #result {
	height: 10px;
	top: -10px;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding-left: .6em;
	margin-top: 1em;
	background: url(img/noise.png), linear-gradient(left, hsla(24, 20%, 50%,.08) 70%, hsla(24, 20%, 50%,0));
}

/*section:not(.focus) >*/ .line-highlight {
	display: none;
}

.line-highlight:before {
	content: attr(data-line);
	display: inline-block;
	min-width: 1em;
	padding: 0 .5em;
	background: inherit;
	background-color: hsla(24, 20%, 50%,.4);
	color: hsl(24, 20%, 95%);
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	vertical-align: .3em;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px white;
}

header {
	position: absolute;
	bottom: 100%;
	right: 0;
	left: 0;
	z-index: 10;
	padding: .4em .5em 0;
	border-bottom: 10px solid black;
	background: url(img/noise.png), linear-gradient(hsl(200, 10%, 20%), hsla(200, 10%, 20%, .9));
	color: white;
	line-height: 1.1;
	font-weight: bold;
	transition: .5s 1s transform;
}

header:hover,
header:active,
header.focus,
body.tabediting header {
	transform: translateY(-10px) translateY(100%);
	transition-delay: 0s;
}

	header > h1 {
		float: left;
		height: 1.3em;
		margin-right: .1em;
		font: 900 190%/1.45 Dabblet, sans-serif;
		text-shadow: .05em .05em .1em black;
		-webkit-transform: translateZ(0); /* fix for chopped letters */
	}
	
	header > .with-dropdown {
		float: left;
	}
	
	#view > input[type="radio"],
	.tabs input {
		position: absolute;
		z-index: 1;
		opacity: 0;
	}

	.tabs {
		display: inline-block;
		height: .75em;
		margin: 0 2px 0 -.5em;
		white-space: nowrap;
		font-size: 110%;
		line-height: 1.4;
		-webkit-font-smoothing: antialiased;
		-webkit-transform: translateZ(0); /* fix for unhoverable tabs */
	}
	
	.controls-group {
		float: right;
		min-width: 15em;
		white-space: nowrap;
	}

	header .button,
	header button,
	.tabs > label {
		padding: .45em .6em;
		border: 0;
		border-radius: .3em;
		background: inherit;
		color: inherit;
		font: inherit;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		text-shadow: inherit;
	}
	
	header .button,
	header button {
		float: left;
		border: 1px solid rgba(0,0,0,.4);
		margin: 0 .2em;
		white-space: nowrap;
		background-image: url(img/noise.png);
		box-shadow: rgba(255, 255, 255, .4) 0 1px 0 inset, 
					rgba(255, 255, 255, .3) 0 25px 30px -12px inset, 
					rgba(0, 0, 0, .6) 0 1px 2px;
		text-shadow: 0 -1px 1px black, 0 -1px 2px black;
	}
	
	header button.with-symbol,
	header .button.with-symbol {
		font-family: Dabblet, sans-serif;
	}
	
	body[data-unsaved] button[title="Save"] {
		text-shadow: 0 0 .2em #6cf, 0 0 .4em #6cf;
	}
	
	header > .with-dropdown > button:after,
	header > .with-dropdown > .button:after {
		content: ' ▾';
	}
	
	header .button:active,
	header button:active,
	input:checked + label.button {
		box-shadow: 0 2px 6px black inset;
	}
	
	input:checked + label.button {
		background-color: rgba(0,0,0,.3);
	}
	
	#currentuser {
		max-width: 8em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	#currentuser:not(:hover) {
		background-color: transparent;
	}
	
		.user > img {
			max-height: 1.4em;
			margin: -.2em .3em -.2em -1.6em;
			vertical-align:bottom;
			border-radius: 1px;
			box-shadow: 0 0 0 1px rgba(0,0,0,.2);
		}
		
		#currentuser > img {
			margin-left: -.3em;
		}
		
	a.button[href="/help/"] {
		float: right;
		background-color: transparent;
	}
	
	#view > input,
	.tabs > input {
		position: absolute;
		clip: rect(0,0,0,0);
	}
	
	@keyframes flip {
		from { transform: perspective(600px) rotate3d(1,0,0,180deg); }
		  to { transform: perspective(600px) rotate3d(1,0,0,  0deg); }
	}
	
	.tabs > label {
		position: relative;
		display: inline-block;
		padding: .5em .6em;
		border: 0;
		margin: 0 .15em -5px;
		background: rgba(0,0,0,.4);
		cursor: pointer;
		transform-origin: bottom;
		border-radius: 5px;
		box-shadow: .05em .1em .25em rgba(0,0,0,.7) inset;
		text-shadow: inherit;
		animation: .5s flip;
	}
	
	.tabs > input:checked + label {
		background: black;
		top: 2.5em;
		animation: .6s flip;
		transform-origin: top;
	}
	
		body[data-view="separate"] .tabs > label .if-not-separate {
			display: none;
		}
		
		.tabs > label > .title {
			overflow: hidden;
			transition: 1s max-width;
		}
		
	
	header .button:hover,
	header .button:active,
	header button:hover,
	header button:active,
	.tabs > label:hover,
	.tabs > label:active {
		background-color: black;
	}
	
	.dropdown {
		display: none;
		position: absolute;
		z-index: 2;
		min-width: 12em;
		max-width: 400px;
		padding: .3em;
		margin: 2.2em 0 0 -1em;
		font-family: sans-serif;
		text-align: left;
		-webkit-transform: translateZ(0); /* fix for unhoverable dropdowns */
	}
	
	/* pointer */
	.dropdown:before {
		content: '';
		position: absolute;
		top: -6px;
		left: 2.5em;
		width: 12px;
		height: 12px;
		border: inherit;
		border-bottom-width:0;
		border-right-width:0;
		margin-left: -9px;
		background: url(img/noise.png), linear-gradient(-45deg, hsl(200, 10%, 20%) 52%, hsla(200, 10%, 20%, 0) 55%);
		background-origin: border-box;
		transform: rotate(45deg);
		box-shadow: 1px 0 rgba(255,255,255,.3) inset;
	}
	
	.with-dropdown {
		padding-bottom: 3px;	
	}
	
	.with-dropdown:hover > .dropdown,
	.with-dropdown.focus > .dropdown,
	.with-dropdown:active > .dropdown,
	.dropdown:hover,
	.dropdown:active,
	.dropdown.focus {
		display: block;
	}
	
		#view > label {
			width: 10em;
			margin: .15em;
			overflow: hidden;
			text-align: left;
			line-height: 25px;
		}
		
		#view > label:before {
			content: '';
			float: left;
			width: 25px;
			height: 25px;
			margin-right: 10px;
			background: url(img/settings.png);
		}
		
		#view > label[for="view-split"]:before {
			background-position: 0 -25px;
		}
		
		#view > label[for="view-split-vertical"]:before {
			background-position: 0 -50px;
		}
		
		#view > label[for="view-separate"]:before {
			background-position: 0 -75px;
		}
		
		fieldset:not([id]) > label {
			font-weight: normal;
			font-size: 90%;
		}
	
		menu > .command {
			display: block;
			padding: .4em;
			border-radius: .3em;
			cursor: pointer;
		}
		
		menu > .command[data-disabled] {
			opacity: .5;
			cursor: not-allowed;
		}
			
			menu > .command:before {
				content: '';
				display: inline-block;
				width: 1.4em;
			}
			
			menu > .command[data-keyboard]:after {
				content: attr(data-keyboard);
				float: right;
				opacity: .6;
			}
			
			menu > input:checked + label.command:before {
				content: '✔';
				color: hsla(0,0%,100%,.5);
			}
		
		menu > hr {
			height: 2px;
			border: 0;
			margin: .1em 0;
			background: rgba(255,255,255,.5);
			background: linear-gradient(left, transparent, black 50%, transparent) top,
						linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.6) 50%, rgba(255,255,255,0)) bottom;
			background-repeat: repeat-x;
			background-size: 100% 1px;
		}
		
.popup {
	display: none;
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 50%;
	z-index: 20;
	width: 60%;
	padding: .6em .6em 5.2em;
	box-sizing: border-box;
	margin-left: -30%;
}

.popup:target {
	display: block;
}

	.popup > h1 {
		color: white;
		font-size: 160%;
	}
	
	.popup > .close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 1.2em;
		font-size: 150%;
		line-height: 1.2;
		font-weight: bold;
		text-align: center;
		border-radius: 50%;
	}
	
	.popup > .content {
		height: 100%;
		padding: 1em;
		border: inherit;
		overflow: auto;
		background-clip: padding-box;
		border-radius: 3px;
	}
		
/**
 * Code hightlighting 
 */
.token {
	/* See issue #3 */
	padding: .15em 0;
}

.comment {
	color: slategray;
}

.property,
.tag,
.popup > .content a {
	color: #905;
}

.selector,
.attr-name,
.popup > .content a:hover {
	color: #690;
}

.atrule,
.attr-value,
.popup > .content a:active {
	color: #07a;
}

.important {
	color: #e90;
	font-weight: bold;
}

.color,
.abslength,
.easing,
.time,
.angle,
.fontfamily,
.gradient,
.url,
.entity {
	text-shadow: 0 1px white, 0 0 .2em hsla(24, 100%, 50%, .5);
	cursor: help;
}

.token[data-active] {
	text-shadow: 0 1px white, 0 0 .2em hsla(24, 100%, 50%, .8);
}

.punctuation {
	color: #999;
}


/**
 * Cute little value previewers
 */
.previewer {
	display: none;
	position: absolute;
	left: 120%; /* off the page */
	margin-bottom: 10px;
	border-radius: 8px;
	box-shadow: 1px 1px 8px rgba(0,0,0,.7);
}

@keyframes previewer {
	from { transform: scale(.1); }
	
	to { transform: scale(1); }
}

.previewer.active {
	display: block;
	transform-origin: 50% 100%;
	animation: .2s previewer;
	animation-timing-function: cubic-bezier(.5,0,.7,1.8);
}

.previewer.flipped.active {
	transform-origin: 50% 0%;
}

	/* pointer */
	.previewer:before {
		content: '';
		position: absolute;
		bottom: -6px;
		left: 50%;
		width: 12px;
		height: 12px;
		border: inherit;
		border-top-width:0;
		border-left-width:0;
		margin-left: -6px;
		background: white;
		background: linear-gradient(-45deg, transparent 48%, white 48%);
		transform: rotate(45deg);
		box-shadow: inherit;
	}
	
	.previewer.flipped:before {
		top: -6px;
		background: linear-gradient(135deg, transparent 48%, white 48%);
	}
	
	.previewer:after,
	#gradient > div {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 2;
		border: 5px solid white;
		border-radius: inherit;
		box-shadow: 1px 1px 5px rgba(0,0,0,.5) inset;
	}
	
	.previewer > img,
	.previewer > svg {
		display: block;
		z-index: 1;
		position: relative;
	}
	
#color,
#gradient,
#url {
	background: linear-gradient(45deg, #bbb 25%,  transparent 25%, transparent 75%, #bbb 75%, #bbb) 5px 5px, 
		linear-gradient(45deg, #bbb 25%,  #eee 25%,  #eee 75%, #bbb 75%, #bbb) 15px 15px;
	background-size:20px 20px;
}

#color {
	width: 60px;
	height: 60px;
	margin-left: -30px;
}

	#color:after {
		background-color: inherit;
	}

#gradient {
	width: 180px;
	height: 100px;
	margin-left: -100px;
}
	
	#gradient:after {
		content: none;
	}

#abslength {
	max-width: 100%;
	height: 20px;
	border: 1px solid white;
	border-radius: 0;
	transition: .3s;
	transition-property:width, margin-left;
}

	#abslength:before {
		bottom: -7px;
		background: url(img/noise.png),
					linear-gradient(-45deg, hsla(200, 10%, 20%, 0) 47%, hsl(200, 10%, 20%) 48%);
	}
	
	#abslength[data-size="small"]:before {
		width: 6px;
		height: 6px;
		bottom: -3px;
		margin-left: -3px;
	}
	
	#abslength[data-size="tiny"]:before {
		transform: none;
		width: 0;
		margin-left: 0;
	}
	
	#abslength:after {
		border: 0;
		background: 
			repeating-linear-gradient(left, transparent, transparent 19px, rgba(255,255,255,.6) 19px, rgba(255,255,255,.6) 20px) left top no-repeat,
			repeating-linear-gradient(left, transparent, transparent 4px, rgba(255,255,255,.4) 4px, rgba(255,255,255,.4) 5px) left top no-repeat,
			url(img/noise.png), linear-gradient(hsla(200, 10%, 20%, .8), hsl(200, 10%, 20%));
		background-size: 100% 10px, 100% 5px, auto, auto;
		box-shadow: none;
	}
	
#time,
#angle {
	width: 74px;
	height: 74px;
	margin-left: -37px;
	background: linear-gradient(right, hsla(24, 20%, 95%, .4), hsl(24, 20%, 95%) 95%);
	border-radius: 37px;
}

	#time:before,
	#angle:before {
		bottom: -4px;
	}
	
	#time:after,
	#angle:after {
		background: url(img/noise.png);
		z-index: 2;
	}
	
	#angle > svg,
	#time > svg {
		margin: 5px;
		width: 64px;
		height: 64px;
		border-radius: 32px;
		background: inherit;
		transform: rotate(-90deg);
		-webkit-transform: translateZ(0) rotate(-90deg);
	}
	
	#angle[data-negative] > svg {
		transform:  scaleX(-1) rotate(-90deg);
		-webkit-transform:  translateZ(0) scaleX(-1) rotate(-90deg);
	}
	
		#time circle,
		#angle circle {
			stroke: hsl(200, 10%, 20%);
			stroke-opacity: .9;
			fill: transparent;
			stroke-width: 31.8;
		}
	
#fontfamily {
	padding: .5em 0 .3em;
	width: 10em;
	margin-left: -5em;
	color: white;
	font-size: 150%;
	font-style: italic;
	line-height: 1.8;
	text-align: center;
	white-space: pre-line;
}

#fontfamily:first-line {
	display: block;
	font-style: normal;
}
	
#easing {
	width: 100px;
	height: 100px;
	padding: 5px;
	margin-left: -50px;
}
	
	
	#easing:after {
		z-index: 2;
	}
		
		
		#easing circle {
			stroke: white;
			fill: hsl(200, 10%, 20%);
		}
		
		#easing path {
			 fill: none;
			 stroke: white;
			 stroke-width: 4;
			 stroke-linecap: round;
		}
		
		#easing line {
			stroke: white;
			stroke-opacity:.5;
			stroke-width: 2;
			marker: url(#marker);
		}
		
#url {
	padding: 5px;
}

	#url > img {
		max-width: 200px;
		max-height: 200px;
	}
	
	#url > img.error {
		width: 50px;
		height: 50px;
	}
	
#entity {
	min-width: 1.6em;
	margin-left: -.8em;
	font-size: 500%;
	color: white;
	text-align: center;
	text-shadow: .02em .02em .06em black;
}

/**
 * Style scrollbars in Webkit
 */
::-webkit-scrollbar {
	width: 20px;
	height: 20px;
}

section.page:not(.focus):not(:hover)::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 999px;
	border: 5px solid transparent;
}

::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
	min-height: 20px;
	background: url(img/noise.png);
	background-clip: content-box;
	box-shadow: 0 0 0 5px hsla(24, 20%, 50%,.4) inset;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

/**
 * Responsive shit
 */
@media (max-width: 400px) {
	html {
		font-size: 90%;
	}
}

@media (max-width: 620px) {
	header > .with-dropdown button:after {
		content: '';
		content: none;
	}
	
	.dropdown {
		max-width: 200px;
		margin-left: -10em;
	}
	
	#currentuser {
		max-width: 3em;
	}
}

@media (max-width: 800px) {
	html {
		font-size: 95%;
	}
	
	.controls-group {
		margin-top: .2em;
	}
	
	.tabs {
		height: 2.2em;
	}
	
	.popup {
		width: 290px;
		padding: .5em .5em 5em;
		margin-left: -145px;
		top: 2%;
		bottom: 2%;
	}
}

@media (min-width: 1000px) {
	.popup {
		width: 800px;
		margin-left: -400px;
	}
	
		.popup > .content > div {
			column-count: 2;
			column-gap: 2em;
			column-rule: 3px dotted slategray;
			column-fill: balance;
		}
}